<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CRUD Interclasse{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="shortcut icon" href="./static/imagens/favicon.png" type="image/x-icon">
</head>
<body>
    <main>
        <div class="main-container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <p>Desenvolvido por <a href="https://github.com/vini-21samuel" target="_blank">Vinicius samuel</a></p>
        </div>
    </footer>
</body>
</html>
