{% extends "base.html" %}

{% block title %}CRUD de Interclasse{% endblock %}

{% block content %}
<div class="container text-center">
    <!-- Texto explicativo sobre o CRUD -->
    <div class="alert alert-info">
        <h3>Bem-vindo ao CRUD de Interclasse</h3>
        <p>Este sistema permite o gerenciamento de <strong>times</strong>, <strong>jogadores</strong> e <strong>partidas</strong> para o torneio interclasse. Você pode cadastrar, editar e excluir os times, jogadores e partidas</p>
    </div>
</div>

<!-- Links de navegação para as 3 rotas fora do container -->
<div class="nav-container">
    <a href="/times" class="btn btn-primary btn-rounded">Gerenciar Times</a>
    <a href="/jogadores" class="btn btn-primary btn-rounded">Gerenciar Jogadores</a>
    <a href="/partidas" class="btn btn-primary btn-rounded">Gerenciar Partidas</a>
</div>

{% endblock %}
